.block{
    width: 100%;
    height: 200px;
    background-color: red;
}
@media (max-width: 767px){
    .block{
        width:100px;
        background-color: green;
    }
}
@media (min-width: 768px) and (max-width:1023px){
    .block{
        width:600 px;
        height: 500px;
        background-color: yellow;
    }
}

.block1{
    width: 100%;
    height: 100px;
    background-color: violet;
}
@media (max-width: 767px){
    .block1{
        width:100px;
        background-color: rgb(37, 141, 182);
    }
}
@media (min-width: 768px) and (max-width:1023px){
    .block1{
        width:300 px;
        height: 150px;
        background-color: hotpink;
    }
}
