body{
    background-color: rgb(203, 231, 235);
}
td{
    border: 2px solid rgba(36, 34, 34, 0.938);
}

table{
    width: 100%;
    height: 100vh;
    padding: 50 px 70px 150px 180px;
}
.block1{
    color: indigo;
    text-align: right;
}


