body{

    display: flex;
    justify-content: center;
    align-items: center; 

}
.block1,
.block2,
.block3{
    width: 200px;
    height: 200px;
    padding left: 20px;
    padding top: 50px;
   
     
}
.block1{
     background-color: orange;
     
 }
 .block2{
    background-color: green;
}
.block3{
    background-color: red;
}
 