.block1{
    width: 100px;
    height: 100px;
    background-color: red;
    animation: myAnimate 5s linear infinite;
}
/* .block1:hover{
    background-color: green;
} */

@keyframes myAnimate {
0%{
    transform: rotate(0deg);
    margin: 0;
}

50%{
    margin: 500px;
}

100%{
    transform: rotate(360deg);
    margin: 0;
}

}